<h1>Stupid Coach</h1>
<h2>Answer:</h2>
<!-- Add link to "ask" page -->
<h3>
<%= @answer %>
</h3>
<p>t.Stupid Coach</p>
<%= link_to "Ask a new question", "http://localhost:3000/ask" %>
<p>Find me in app/views/pages/answer.html.erb</p>
