<h1>Stupid Coach</h1>
<h2>Ask me anything:</h2>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Type in your question...">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
<p>Find me in app/views/pages/question.html.erb</p>

